/* This code was stolen shamelessly from enwikipedia's Common.css */
table.mw-abuselog-details {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table.mw-abuselog-details th,
table.mw-abuselog-details td {
	border: 1px #aaa solid;
	padding: 0.2em;
}

table.mw-abuselog-details th {
	background: #f2f2f2;
	text-align: center;
}

table.mw-abuselog-details caption {
	font-weight: bold;
}

.mw-abusefilter-history-changed {
	background: #ffe0e0;
	font-weight: bold;
}

.mw-abuselog-var-value {
	white-space: pre-wrap;
	font-family: monospace;
}

div.mw-abuselog-var-value {
	max-height: 25em;
	max-width: 100%;
	overflow: auto;
}

td.mw-abuselog-var {
	width: 30%;
}

table.mw-abusefilter-list-scrollable {
	display: block;
	border: 0;
	overflow-x: auto;
}

.client-nojs .mw-abusefilter-javascript-tools {
	display: none;
}

#mw-abusefilter-throttle-parameters,
#mw-abusefilter-warn-parameters,
#mw-abusefilter-tag-parameters,
#mw-abusefilter-block-parameters {
	width: 50%;
	padding-left: 3em;
}

.mw-abusefilter-warn-preview-buttons {
	text-align: center;
}

#mw-abusefilter-warn-preview {
	border: 1px solid #a2a9b1;
	margin: 2em;
	padding: 1em;
}

.client-nojs #mw-abusefilter-export-link,
.client-js #mw-abusefilter-export {
	display: none;
}

tr.mw-abusefilter-list-disabled,
tr.mw-abusefilter-list-disabled td {
	color: #666;
}

tr.mw-abusefilter-list-deleted,
tr.mw-abusefilter-list-deleted td {
	color: #aaa;
}

tr.mw-abusefilter-list-throttled,
tr.mw-abusefilter-list-throttled td {
	color: #f00;
}

.mw-abusefilter-examine-match,
.mw-abusefilter-syntaxresult-ok,
li.mw-abusefilter-changeslist-match {
	/* @embed */
	background-image: url( yes_check.png );
}

.mw-abusefilter-examine-nomatch,
.mw-abusefilter-syntaxresult-error,
li.mw-abusefilter-changeslist-nomatch {
	/* @embed */
	background-image: url( red_x.png );
}

div.mw-abusefilter-editor {
	max-width: 75em;
	height: 30em;
	line-height: 1.5em;
	border: 1px solid #a2a9b1;
	display: none;
}

fieldset.mw-abusefilter-edit-buttons {
	margin-top: 1em;
}

.mw-abusefilter-load-filter-id {
	max-width: 50em;
}

.client-nojs .mw-abusefilter-load-filter-id {
	display: none;
}

#mw-abusefilter-syntaxresult,
ul li.mw-abusefilter-changeslist-nomatch,
ul li.mw-abusefilter-changeslist-match {
	/* Do not consolidate these into a "background:" rule; it will override the background-image: settings in above rulesets */
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: left center;
}

/* Name is in site content language */
/* @noflip */
.sitedir-ltr .TablePager_col_af_public_comments {
	direction: ltr;
}

/* @noflip */
.sitedir-rtl .TablePager_col_af_public_comments {
	direction: rtl;
}

#mw-abusefilter-filter-tools {
	display: inline;
}

.mw-abusefilter-history-buttons {
	text-align: center;
}

/* Ace highlight customisation */

span.ace_invalid.ace_deprecated {
	color: #fe6767;
	background-color: initial;
}

span.ace_support.ace_function {
	color: #495dd0;
}
