# Copyright (c) 2008 Andrew Garrett.
# Copyright (c) 2008 River Tarnell <river@wikimedia.org>
# Derived from public domain code contributed by Victor Vasiliev.
#
# Permission is granted to anyone to use this software for any purpose,
# including commercial applications, and to alter it and redistribute it
# freely. This software is provided 'as-is', without any express or
# implied warranty.

# The C++ compiler
CXX		= g++

# Flags for the compiler.
CXXFLAGS	= -O3 -W -Wall

# Set this to the 'tag' your Boost libraries were built with,
# or the empty string if none.
#BOOST_TAG	= -gcc34-mt
BOOST_TAG	=

# Extra linker flags - if libraries are in strange places
EXTRA_LDFLAGS	= -L/opt/icu/lib -L/opt/boost/lib -R/opt/icu/lib:/opt/boost/lib

# Extra preprocessor flags
EXTRA_CPPFLAGS	= -I/opt/boost/include/boost-1_35 -I/opt/icu/include
